{% extends 'base.html' %}

{% block head %}
<title>BookRec</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>Book Recommender</h1>

    <table>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Average Rating</th>
            <th>Cover</th>
        </tr>
        <!--Grabs a task from tasks -- runs for entirety of tasks count -->

        <tr>
            {% for allBook in allBooks %}
            <td>{{ allBook[9] }}</td>
            <td><i>{{ allBook[7] }}</i></td>
            <td>{{ allBook[12] }}</td>
            <td><img src={{ allBook[21] }}></img></td>
            </tr>
            {% endfor %}
        </tr>
    </table>

    <form action="/" method="POST">
        <input type="text" name="content" id="content">
        <input type="submit" value="Add Task">
    </form>
</div>
{% endblock %}